.header {
  padding-top: 24px;
  background-color: var(--backgroundColor);
}
.header__title {
  color: var(--fontColor);
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--black);
  display: flex;
  gap: 8px;
}
.header__topMenu {
  display: flex;
  gap: 56px;
}
.header__topNav {
  display: inline-block;
}
.header__topNavItem {
  display: inline-block;
  text-decoration: none;
  color: var(--grey-3);

  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.header__topNavItem_active {
  color: var(--fontColor);
}
.header__topNavItem ~ .header__topNavItem {
  margin-left: 24px;
}

.header__nav {
  display: inline-block;
}
.header__navItem {
  display: inline-block;
  text-decoration: none;

  color: var(--grey-3);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.header__navItem_active {
  color: var(--fontColor);
}
.header__navItem ~ .header__navItem {
  margin-left: 24px;
}
.header__menuToggle {
  position: absolute;
  top: 10px;
  left: 16px;
  display: none;
}

@media screen and (max-width: 768px) {
  .header__menuToggle {
    display: block;
  }
  .header__topMenu {
    display: none;
  }
  .header__top {
    justify-content: center;
  }
  .header {
    padding-top: 16px;
  }
}

.header__topThemeIconLight {
  color: var(--grey-4);
}
.header__topThemeIconDark {
  color: var(--grey-3);
}
