.modal {
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #c4c4c4;
  transform: translateX(-100vw);

  transition: opacity 300ms ease-out;
}

.modal__container {
  position: relative;
  border-radius: 8px;
  background: var(--white);
  max-width: 428px;
  padding: 30px 40px 33px 40px;
}

.modal__title {
  margin: 0 0 14px 0;

  color: var(--modalTitle);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.modal__text {
  margin: 0px;

  color: var(--alternate);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.modal__close {
  position: absolute;
  right: 12px;
  top: 12px;
}

.modal[data-open] {
  opacity: 1;
  transform: translateX(0);
}

.modal_preview {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  width: 284px;
  height: 222px;
  background-color: var(--grey-3);
}

.modal_preview .modal__container {
  padding: 15px;
  transform: scale(0.7);
}
