* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  font-size: 16px;
}
header {
  background-color: rgb(233, 81, 81);
  text-align: center;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
}
nav {
  background-color: rgb(243, 186, 44);
  padding: 10px;
}
nav a {
  font-size: 1.3rem;
  margin-left: 10px;
  margin-left: 10px;
  color: #fff;
}
main {
  padding: 5px;
  background-color: rgb(111, 186, 111);
}
article {
  background-color: rgb(116, 171, 255);
  padding: 10px;
  margin: 5px;
}
article ul,
article ol {
  padding: 20px;
}

article h2 {
  margin-top: 10px;
  font-weight: bold;
}

footer {
  background-color: rgb(188, 89, 196);
  text-align: center;
}
footer p {
  font-size: 2rem;
}
