.histogram {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px 24px 24px;

  border: 1px solid var(--grey-3);
  border-radius: 8px;
}
.histogram__header {
  display: flex;
  justify-content: space-between;
}

.histogram__title {
  color: var(--black);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.histogram__link {
  color: var(--primary);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  margin-top: 3px;
}
.histogram__count {
  color: var(--black);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 6px 0 39px 0;
}

.histogram__chart {
  display: flex;
  align-items: flex-end;
  height: 50px;
  overflow: hidden;
}
.histogram__bar {
  background: var(--primary);
  flex-grow: 1;
  transform: scaleY(1);
  transform-origin: bottom;
  animation: grow 400ms ease-in-out;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
  }
  75% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}

.histogram__bar ~ .histogram__bar {
  margin-left: 1px;
}

/* модификаторы */
.histogram_preview {
  width: 100%;
  margin: 0 25px 0 25px;
}
.histogram_previewLink_solid {
  text-decoration: solid;
}
