.navigation {
  background-color: var(--mainBackground);
}

.navigation__header {
  display: block;
  color: var(--black);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 16px;
}

.navigation__link {
  display: block;
  color: var(--black);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.navigation__link:hover {
  color: var(--notification);
}

.navigation > .navigation__header:not(:first-child),
.navigation > .navigation__divider:not(:first-child) {
  margin-top: 32px;
}

.navigation__divider {
  border: 0px solid var(--grey-2);
  border-bottom-width: 1px;
  display: none;
}

.navigation__themeToggle {
  display: none;
}

.navigation_open {
  display: block;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
    top: 64px;
    left: 0;
    right: 0;
    position: absolute;
    padding: 16px 16px 43px 16px;
    /* width: 100%;
    box-sizing: border-box; */
  }
  .navigation__divider {
    display: block;
  }
  .navigation > .navigation__header:not(:first-child),
  .navigation > .navigation__divider:not(:first-child) {
    margin-top: 24px;
  }
  .navigation__link ~ .navigation__link {
    margin-top: 16px;
  }
  .navigation__themeToggle {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }
  .navigation__themeToggleLable {
    color: var(--grey-4, #495057);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
