@import './normalize.css';
@import '../fonts/fonts.css';

/* library components */
@import '/03-lection1/01-button/button.css';
@import '/03-lection1/02-accordion/accordion.css';
@import '/04-lection2/01-histogram/histogram.css';
@import '/04-lection2/02-skeleton/skeleton.css';
@import '/05-lection3/01-tooltip/tooltip.css';
@import '/05-lection3/02-modal/modal.css';
@import '/05-lection3/03-calendar/calendar.css';

/* helper components */

/* library components */
@import '/03-lection1/01-button/button.css';
@import '/03-lection1/02-accordion/accordion.css';
@import '/04-lection2/01-histogram/histogram.css';
@import '/04-lection2/02-skeleton/skeleton.css';
@import '/05-lection3/01-tooltip/tooltip.css';
@import '/05-lection3/02-modal/modal.css';
@import '/05-lection3/03-calendar/calendar.css';

/* helper components */
@import '/components/header/header.css';
@import '/components/main/main.css';
@import '/components/aside/aside.css';
@import '/components/footer/footer.css';
@import '/components/page/page.css';
@import '/components/componentPage/componentPage.css';
@import '/components/container/container.css';
@import '/components/preview/preview.css';
@import '/components/navigation/navigation.css';
@import '/components/tabs/tabs.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #4263eb;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
  --alternate: var(--grey-4);
  --primaryHover: #2342c0;
  --secondaryHover: #5028c6;
  --alternateHover: var(--black);

  --mainBackground: #f9fafc;

  --cardBoxShadow: rgba(33, 36, 41, 0.05);

  --modalTitle: #334d6e;
  --calendarCellHeader: #90a0b7;
  --calendarText: #334d6e;
  --calendarCellRange: #a0b1f5;

  --notification: #d84910;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 2.5rem;
}
