.skeleton {
  border: 1px solid var(--grey-3, ACB5BD);
  fill: var(--white, white);
  border-radius: 8px;
}

.skeleton__bar {
  min-width: 20px;
  min-height: 20px;
  background: linear-gradient(
    93deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  margin: 10px;
}
.skeleton__line {
  display: flex;
  align-items: center;
}

.skeleton__line div:nth-child(2) {
  flex-grow: 1;
}

.skeleton__line div:nth-child(2) div:nth-child(1) {
  width: 40%;
}
.skeleton__line div:nth-child(2) div:nth-child(2) {
  width: 70%;
}

.skeleton__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;

  background-color: var(--grey-2, #dde2e5);

  margin: 10px;
}
