.button_type_alternate {
  color: var(--grey-4);
  background: var(--white);
  border: 1px solid var(--grey-3);
  transition: opacity 200ms ease-in-out, border 200ms ease-in-out;
}
.button_type_alternate:hover {
  border: 1px solid var(--alternateHover);
}
