.button_type_primary {
  color: var(--white);
  background: var(--primary);
  border-width: 0px;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_type_primary:hover {
  background: var(--primaryHover);
}
