.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__datails {
  display: none;
  min-width: 129px;

  color: var(--white);
  text-align: center;
  font-family: Inter;
  font-size: 16px;

  background: var(--primary);
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}

.tooltip__datails::after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-top: 10px solid var(--primary);
  top: calc(100% - 1px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__icon:hover ~ .tooltip__datails {
  display: block;
}


/* модификаторы */
.tooltip_preview {
  display: block;
}