.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__datails {
  opacity: 0;
  position: absolute;
  left: -100vw;

  min-width: 129px;
  color: var(--white);
  text-align: center;
  font-family: Inter;
  font-size: 16px;

  background: var(--primary);
  padding: 20px;
  border-radius: 8px;
  top: -10px;
  transform: translateY(-100%) translateX(-50%);
  transition: opacity 0.3s ease-in-out;
}

.tooltip__datails::after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-top: 10px solid var(--primary);
  top: calc(100% - 1px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__icon:hover ~ .tooltip__datails,
.tooltip_preview {
  opacity: 1;
  left: 50%;
}
