.footer {
  background-color: var(--backgroundColor);
  padding-top: 72px;
  padding-bottom: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__header {
  color: var(--fontColor);
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}

.footer__text {
  max-width: 640px;
  color: var(--fontColor);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__smallHeader {
  color: var(--grey-3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
