.componentPage {
  width: 100%;
  height: 100%;
  background-color: var(--mainBackground);
}

/* элементы */
.componentPage__wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 229px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'navigation main'
    'footer footer';
}

.componentPage__main {
  grid-area: main;
  background-color: var(--white);
}

.componentPage__header {
  grid-area: header;
  background-color: var(--mainBackground);
  margin-bottom: 60px;
}
.componentPage__navigation {
  grid-area: navigation;
}

.componentPage__footer {
  grid-area: footer;
  background-color: var(--mainBackground);
}

.componentPage__container {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .componentPage__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }

  .componentPage__header {
    margin-bottom: 16px;
  }
}
