.preview {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.preview__card {
  width: 350px;
  height: 367px;
  border-radius: 12px;
  background: var(--backgroundColor);
  box-shadow: 0px 2px 4px 0px var(--cardBoxShadow);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  padding-bottom: 32px;
  text-decoration: none;
}

.preview__item {
  color: var(--black, #212429);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview__itemCaption {
  color: var(--fontColor);
  text-align: center;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: block;
}

.preview__itemType {
  color: var(--fontColor);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: block;
  margin-top: 6px;
}
.preview__loadMore {
  color: var(--fontColor);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.preview__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.preview_twoColumns .preview__item {
  gap: 37px;
}
